@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background-color .5s ease;
    z-index: 1;


    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s ease;

        .header {
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: background-color .5s ease;
            } 
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5%;

    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;

    }

    &__links {
        display: flex;
        gap: 50px;
        align-items: center;

        &__item {
            margin: 5px;
            transition: opacity .5s ease;
        }
    }

    .button {
        height: 50px;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 20px;
    }

    @media (max-width: 932px) { 

        &__container {
            padding: 8px 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 5%; 
        }

        &__logo {
            max-width: 50px;
            width: 100%;
            margin: 5px;
            transition: opacity .5s ease;
        }

        .button {
            height: 50px;
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            font-size: 12px;
        }

        &__links {
            display: flex;
            gap: 11px;
            align-items: center;
    }

    .button--dark {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        font-size: 10px;
        color: #fff;
        background-color: variaveis.$colorButton;
        border-radius: 4px;
        text-decoration: none;
        padding: 8px;
        letter-spacing: 1px;
        border: 1px solid variaveis.$colorButton;
        cursor: pointer;

    }
}
}