@use 'variaveis'; 

.movies {
    width: 100%;
    margin-top: 50px;
    
    h2 {
        font-size: 24px;
        color: white;
        margin-bottom: 40px;
        padding-left: 5%;
    }

    h2::after {
        content: ''; /* Adiciona um conteúdo ao pseudo-elemento */
        display: block; /* Faz com que o pseudo-elemento seja exibido como um bloco */
        width: 100%; /* Define a largura da linha */
        height: 1px; /* Define a altura da linha */
        background: linear-gradient(to right, #FF2C1F, #000); /* Define um gradiente horizontal */
        margin: 0 auto; /* Centraliza a linha horizontalmente */
        margin-top: 30px;
    }
    
    &__list {
        display: flex;
        gap: 30px; /* Espaçamento entre as imagens */
        padding: 0;
        margin: 0;
        width: calc(100% + 30px); /* Calcula a largura total incluindo o espaçamento entre as imagens */
        list-style: none;
        flex-flow: row nowrap;
        }
        

        &__list__item img {
            width: 100%; 
            height: 388px;
            cursor: pointer;
            transition: transform 0.3s ease;
            opacity: 0.8;
        }

        &__list__item img:hover {
            transform: scale(1.1); 
        }
    }
